cleanup = true
workDir = "/demultiplexing/work/"

params {
    igenomes_base = "/iGenomes"
    tenx_genomes_base = "/10x"
    email = "email@gmail.com"'
    outdir = "/fastq/"
    tracedir = "/demultiplexing/trace"
    stats_json_dir = '/tmp/'
}

process {

    // Global process config
    executor = 'slurm'
    cpus = 32
    queue = 'cpu'
    queueSize = 10000
    pollInterval = '30 sec'
    max_time = 72.h
    time = { check_max( 2.h * task.attempt, 'time' ) }

    // Use/unuse appropriate module paths and purge modules
    beforeScript = { "module purge" }

    // Environment modules and resource requirements
    withName: 'reformat_samplesheet' {
      clusterOptions = '--reservation=asf '
      module = ['Python/3.6.6-foss-2018b']
    }
    withName: 'check_samplesheet' {
      clusterOptions = '--reservation=asf '
      module = ['Python/3.6.6-foss-2018b']
    }
    withName: 'make_fake_SS' {
      clusterOptions = '--reservation=asf '
      module = ['Python/3.6.6-foss-2018b']
    }
    withName: 'bcl2fastq_problem_SS' {
      module = ['bcl2fastq2/2.20.0-foss-2018a']
      clusterOptions = '--reservation=asf '
    }
    withName: 'parse_jsonfile' {
      clusterOptions = '--reservation=asf '
      module = ['Python/3.6.6-foss-2018b']
    }
    withName: 'recheck_samplesheet' {
      clusterOptions = '--reservation=asf '
      module = ['Python/3.6.6-foss-2018b']
    }
    withName: 'bcl2fastq_default' {
      module = ['bcl2fastq2/2.20.0-foss-2018a']
      clusterOptions = '--reservation=asf '
    }
    withName: 'cellRangerMkFastQ' {
      clusterOptions = '--reservation=asf '
      module = ['CellRanger/6.0.1-bcl2fastq-2.20.0', 'CellRangerATAC/2.0.0-bcl2fastq-2.20.0', 'CellRangerDNA/1.0.0-bcl2fastq-2.20.0', 'CellRangerArc/2.0.0-bcl2fastq-2.20.0']
    }
    withName: 'cellRangerCount' {
      clusterOptions = '--reservation=asf '
      module = ['CellRanger/6.0.1-bcl2fastq-2.20.0', 'CellRangerATAC/2.0.0-bcl2fastq-2.20.0', 'CellRangerDNA/1.0.0-bcl2fastq-2.20.0', 'CellRangerArc/2.0.0-bcl2fastq-2.20.0']
    }
    withName: 'fastqc' {
      module = ['FastQC/0.11.7-Java-1.8.0_172']
    }
    withName: 'fastq_screen' {
      module = ['FastQ_Screen/0.12.1-foss-2018a-Perl-5.26.1']
    }
    withName: 'multiqc' {
      module = ['MultiQC/1.6-Python-2.7.15-foss-2018a']
    }
    withName: 'multiqcAll' {
      clusterOptions = '--reservation=asf '
      module = ['MultiQC/1.6-Python-2.7.15-foss-2018a']
    }

}

